* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4 { 
    display: flex ;
    justify-content: center;
}
h1{
    margin: 15px;
    color: red;
}  

h2{
    color: black;
}
h3{
    color: cornflowerblue;

}
h4{
    color:green;
}
.image{
    width: 100wh;
    display: flex;
    justify-content: center;
}

img{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;


}

.content{
    width: 100wh;
    height: 100px;
    justify-content: center;
}
.content{
    margin-top: 15px;
    line-height: 2;
}
